*.o
*.a
*.so
*.dll
*.exe
*.wasm
*.ll
/demos/encoder/encoder
/demos/encoder-raw/encoder-raw
/misc/weird-wav-maker/weird-wav-maker
/tests/residuals/test-32bit
/tests/residuals/test-64bit
/tests/residuals/time-32bit
/tests/residuals/time-64bit
